Django==3.1.1
django-cors-headers==3.5.0
django-simple-history==2.11.0
djangorestframework==3.11.1
djangorestframework-gis==0.15
drf-nested-routers==0.91
psycopg2-binary==2.8.6
django-extensions==3.0.8
pillow==9.3.0
social-auth-app-django==4.0.0
django-registration==3.1
django-confy==1.0.4
django-imagekit==4.0.2
